#happyFatDolphin {
    height: 400px;
    width: 600px;
    outline: auto;
    outline-color: black;
    outline-style: groove;

}

p {
    text-align: center;
    size: 30px;
    outline: auto;
    outline-color: black;
    outline-style: groove;

}

@keyframes changingBackground {
    from{background-color: forestgreen;}
    to{background-color: yellowgreen;}
    to{background-color: powderblue;}
    to{background-color: darkkhaki;}
    to{background-color: purple ;}
    to {background-color: red;}

}

h1 {
    text-align: center;
    size: 40px;
    color: black;
}

body * { 
    background-color: forestgreen;
    animation-name: changingBackground;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#google{
    background-color: blueviolet;
    height: 60px;
    width: 80px;
}

#popDolphins{
    background-color: yellow;
    height: 60px;
    width: 80px;
}